* {
  background-color: rgb(232, 162, 162);
}
.caja1 {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: gray;
  height: 20px;
  width: 200px;
  margin: auto;
  border: 2px solid black;
}
.caja2 {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: gray;
  height: 20px;
  width: 200px;
  margin: auto;
  text-align: center;
  border: 2px solid black;
}
.caja3 {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: gray;
  height: 20px;
  width: 200px;
  margin: auto;
  text-align: right;
  border: 2px solid black;
}
