
td{
    border-bottom:2px solid black;
    border-left:1px solid black;
    padding:0px 25px;
    }
table {
    border: 5px solid black;
    border-top-right-radius:  10px;
    border-top-left-radius:10px;
    background-color: bisque;
    }
caption {
  background-color: rgb(52, 212, 236);
  width: fit-content;
  margin:auto;
  }

body{background-color: aquamarine  ;}

[colspan]{background-color:  rgb(52, 212, 236);}
