*{background-color: rgb(111, 185, 153);}
.container{
    background-color: rgb(194, 195, 196);
    border-radius: 100%;
    height: 500px;
    width: 500px;
    margin:auto;
    position: relative;
}
.container-1{
    background-color: white;
    border-radius: 100%;
    height: 450px;
    width: 450px;
    position: relative;
    top: 25px;
    right: -24px;

}
.container-2{
    background-color: red;
    border-radius: 100%;
    height: 435px;
    width: 435px;
    position: relative;
    top:7px;
    right:-7px;
}
.container-3{
    background-color: white;
    border-radius: 100%;
    height: 420px;
    width: 420px;
    position: relative;
    top:7px;
    right:-7px;
}
.container-4{
    background-color: red;
    border-radius: 100%;
    height: 360px;
    width: 360px;
    position: relative;
    top:30px;
    right:-30px;
}
.container-5{
    background-color: white;
    border-radius: 100%;
    height: 300px;
    width: 300px;
    position: relative;
    top:29px;
    right:-29px;
}
.container-6{
    background-color: red;
    border-radius: 100%;
    height: 240px;
    width: 240px;
    position: relative;
    top:28px;
    right:-28px;
}
.container-7{
    background-color: white;
    border-radius: 100%;
    height: 180px;
    width: 180px;
    position: relative;
    top:28px;
    right:-28px;
}
.container-8{
    background-color: red;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    position: relative;
    top:30px;
    right:-30px;
}
.container-9{
    background-color: white;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    position: relative;
    top:20px;
    right:-20px;
}
.container-10{
    background-color: red;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    position: relative;
    top:25px;
    right:-25px;
}
.cruz{
    background-color: black;
    height: 450px;
    width: 3px;
    position: relative;
    top: -475px;
    right: -427px;
}
.cruz-1{
    background-color: black;
    height: 3px;
    width: 450px;
    position: relative;
    top: 217px;
    right: 218px;
}


